body {
    background-color: #101010;
}

a.icon {
    font-size: 5em;
}

a:link {
    color: gray;
}

a:visited {
    color: gray;
}

a:visited:hover {
    color: white;
    border-bottom: 1px dashed white;
}

a:hover {
    color: white;
    border-bottom: 1px dashed white;
}

a:active {
    color: white;
    border-bottom: 1px solid white;
}

.gray {
    color: gray;
}
